homeconfig/.vim/sessions/
homeconfig/.vim/autoload/plug.vim
homeconfig/bat/themes/
homeconfig/coc/
homeconfig/configstore/
homeconfig/gh/
homeconfig/iterm2/
homeconfig/op/
homeconfig/simple-update-notifier/
homeconfig/yarn/global/
**/.DS_Store
